@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&;600;700display=swap");

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}


html {
  font-size: 90%;

}

.choosefile {
  display: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.icon {
  font-size: var(--h2FontSize);
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
  gap: 1.5rem;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--inputColor);
  padding: .8rem 1rem;
  color: var(--textColor);
}

.btn .icon {
  margin-left: .5rem;
}

.btn:hover {
  background: var(--paleGreen);
  color: var(--PrimaryColor);
}

.container {
 
  min-width: 98vw;
  margin: 1rem auto;
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  height: 95vh;
  align-items: center;
  background-color: rga(248, 248, 248);
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 2px 2px 8px var(--greyText);
 
  .mainContent {
    width: 82%;
    height: 100%;
    overflow: auto;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    .mainContent1 {
      
      .bottom {
        justify-content: flex-start;
    
        margin-top: 0.5rem;
        gap: 2rem;
        align-items: flex-start;
      }

      
      padding-right: 2rem;
    }

  }
}

::-webkit-scrollbar {
  display: none;
}