.callsboard {
   
  }
  
  .reportCall .title {
    font-size: 20px;
  
    font-weight: bold;
    color: black;
  }
  
  .dates{
    
  }
  
  .dates input {
    border: none;
    outline: none;
    padding: 5px 3px;
    border-radius: 5px;
    color: var(--dark-grey);
  }
  
  .statistical h4 {
    color: var(--dark-grey);
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .charts {
    margin-top: 15px;
  }
  
  .chart {
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    margin: 10px 0;
  }
  
  .chart h5 {
    color: var(--dark-grey);
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  .listCall {
    background-color: white;
    border-radius: 5px;
    margin: 10px 0;
  }
  
  .head__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
  }
  
  .head__box h3 {
    font-size: 17px;
    color: white;
    font-weight: bold;
  }
  
  .head_new {
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    width: 100%;
    margin-top: 30px;
    gap: 5px;
    text-align: center;
    border-bottom: 2px solid var(--blue);
  }
  .head_new span {
    font-size: 13px;
    text-align: center;
    color: var(--dark-grey);
    font-weight: bold;
    padding-bottom: 5px;
    width: 100%;
    color: var(--dark-grey);
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .content_new {
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
    margin: 15px 0;
    gap: 0 5px;
    text-align: center;
    padding: 5px 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    align-items: center;
  }
  
  .content_new span {
    font-size: 15px;
    text-align: center;
    color: var(--red);
    width: 100%;
    color: var(--dark-grey);
    font-weight: bold;
    text-transform: uppercase;
    font-weight: 400;
  }
  
  /* reponsive */
  
  .bold {
    color: var(--blue)!important;
    font-weight: bold!important;
  }
  
  .bold2 {
    color: var(--green)!important;
    font-weight: bold!important;
  }
  
  .bold3 {
    color: var(--yellow)!important;
    font-weight: bold!important;
  }
  
  .bold4 {
    color: var(--red)!important;
    font-weight: bold!important;
  }